.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-title {
    margin-bottom: 50px;
    font-size: 2rem;
}

.about-card {
    background: #fff;
    border-radius: 16px;
    padding: 80px;
    width: 1000px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.avatar {
    font-size: 4rem;
    margin-bottom: 15px;
}

.info {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 30px;
}

.contacts a {
    margin: 20px;
    color: #4a90e2;
    font-weight: bold;
}

.contacts a:hover {
    color: #0d47a1;
}