.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: #222;
    color: white;
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 15px 0;
    z-index: 1000;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
    color: #00bfff;
}
