.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-title {
    font-size: 2rem;
}

img {
    border-radius: 16px;
    margin-top: 10px;
}

.explore-button {
    padding: 10px 20px;
    margin-top: 30px;
    border-color: black;
    background-color: white;
    transition: 0.3s;
    font-weight: 500;
    border: 1.5px solid;
}

.explore-button:hover {
    background-color: black;
    color: white;
    border-color: black;
}
