.character-list {
    text-align: center;
}

.character-list button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.character-list button:hover {
    background-color: #45a049;
}

.character-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    padding: 0;
    margin-top: 50px;
}

