.character-details-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.back-btn {
    padding: 10px 0px;
    margin-top: 30px;
    background-color: white;
    transition: 0.3s;
    font-weight: 500;
    border: none;
    margin-bottom: 20px;
}

.character-details {
    background-color: #f9f9f9;
    border: 2px solid #ccc;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.character-details img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 12px;
}

.character-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    color: #333;
}

.character-info h2 {
    margin-bottom: 10px;
    color: #222;
    font-size: 28px;
}

.character-info p {
    margin: 4px 0;
    font-size: 16px;
    color: #555;
}
